<!--<div>
     <div>ProductId:{{current}} </div><br>
     <label>Products:</label>
  <select [(ngModel)] = "current" (change)="onClick($event.target.value)">
     <option>Select the Product</option>
     <option *ngFor="let product of products" value= {{product.productId}}>
        
        {{product.productName}}

      </option>
  </select>
</div>-->

<div>
    <h3>Product Management</h3>
       <div class="container">
       <div class="form-group">
           <div class="row">
               <div class="col-md-6" 
                   *ngIf="products && products?.length > 0">
                   <select id="products" 
                       [(ngModel)]="selectedProductId"
                       (change)="onClick($event.target.value)">
                       <option *ngFor="let product of products" 
                       value="{{product.productId}}">
                           {{ product.productName }}
                       </option>
                   </select>
                </div>
                <p>Selected Product ID: {{selectedProductId}}</p>
               <div *ngIf="selectedProductId">
                   <app-customers>[productId]="selectedProductId"></app-customers> 
               </div> 
           </div>
       </div>
   </div> 
    